transformers
sounddevice
pygame
pyaudio
phonemizer
librosa
piper-tts
tortoise-tts
TTS
piper-tts
piper-phonemize
vosk
seamless_communication @ git+https://github.com/facebookresearch/seamless_communication